.body {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.body__comp img {
  width: 100px;
  object-fit: contain;
}
.body__row {
  display: flex !important;
  align-items: center;
}
.body__comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.body__right img {
  object-fit: contain;
  width: 200px;
}
.background__image {
  height: 150px;
  width: 400px;
  background-image: url("background.jpg");
}
